// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.header-container, .footer-container {
  width: 90%;
}


/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container h3 {
  color: #fff;
  float: left;
  a {
    color: #fff;
    text-decoration: none;
  }
}

#navlinks {
  margin-left: auto;
}

#navlinks > ul > li > a {
  color: #fff;
}


/* footer */
.footer-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer h5 {
  color: #fff;
}

.footer .contact {
  float: right;
}

.footer .copyright {
  display: inline-block;
}


/* main content */
.main-content-container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background-color : transparent;
}

#learnmore-div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 650px;
  background-image:    url('background.png');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#learnmore-div > .center {
  display: table;
  margin: 0 auto;
}

#learnmore-div .jumbotron {
  background-color : transparent;
}

.learnmore-title h1 {
  color: #fff;
  font-size: 5em;
  font-weight: 900;
}

.learnmore-link {
  font-size: 2em;
  font-weight: 900;
  padding: 30px 30px 30px 30px;
  margin-top: 50px;
  background-color: #00aeef !important;
  border-color: #00aeef !important;
}

#imagineers-div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 650px;
  background-color:    #0e75c7;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#imagineers-div > .center {
  display: table;
  margin: 0 auto;
}

#imagineers-div .jumbotron {
  background-color : transparent;
}

.imagineers-title {
  display: flex;
  align-items: center;
}

.weare {
  display: flex;
  align-items: center;
  margin: auto;
}

.weare h1 {
  color: #fff;
  font-size: 5em;
  display: inline-block;
}

#imagineers-div p {
  margin-bottom: 0px;
  font-size: 2.5em;
  line-height: 1.1;
  font-weight: 100;
}

#whatwedo-div {
  display: flex;
  width: 100%;
  height: 350px;
  background-color:    #fff;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#whatwedo-div .jumbotron {
  background-color : transparent;
}

.whatwedo-title h1 {
  color: #0e75c7;
  font-size: 5em;
  display: inline-block;
}

#augreality-div {
  display: flex;
  width: 100%;
  height: 350px;
  background-color:    #7d56ca;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#augreality-div > .center {
  display: table;
  margin: 0 auto;
}

#augreality-div .jumbotron {
  background-color : transparent;
}

.augreality-title h1 {
  color: #fff;
  font-size: 5em;
  font-weight: 100;
  display: inline-block;
}

#augreality-div p {
  color: #fff;
  margin-top: 70px;
  margin-bottom: 0px;
  font-size: 2em;
  line-height: 1.1;
  font-weight: 100;
}